<div class="author">
    <h1 class="author__heading">Hi, i am Naman</h1>
    <p class="author__body"> web developer and observer</p>
</div>

<img src="/img/trevin-rudy-USJatxcZ3BA-unsplash.jpg" alt="person is looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class = "articles__heading">Latest Posts</h2>

    <ul class ="article-ul">

    
        <%# here post is something like the the i that we use incode ing a viable just a vraible  %>

        <% data.forEach(post => { %><%# here we are fetching the data insode the loop that is in the data %>
        <li>
            <a href = "/post/<%= post._id %>"><%# here we are gicing the idea that we are fetching from out database  %>
                <span><%= post.title %></span><%# this is the title and date that we are fetching from the database  %>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span><%# the toDateString function would only give the required information but although it look good with less info %>
            </a>
        </li>
        <% }) %><%# i think this is the syntax to put the opening and the closing of the tages of the ejs inside the weird syntak of ejs %>
    </ul>
    <h1><%= console.log(nextPage) %></h1><%# this is what i was doing to check whether everthing workd great or not %>
    <% if (nextPage !== null){ %>
        <a href="/?page=<%=nextPage%>" class="pagination">&lt; View Older Posts </a>
    <% } %>
</section>